jupyterlab
ipywidgets
func_adl_xAOD
uproot

# Running local - not released yet.
git+https://github.com/gordonwatts/ServiceX-Local.git@feat/injection
git+https://github.com/ssl-hep/ServiceX_frontend.git@feat/register-backend

# The type data
func_adl_servicex_xaodr22

# Tools
black
